# Ignore everything 
*

#except these
!.gitignore
!SampleScripts/
!SampleScripts/*
!SampleScripts/*/*
!SampleScripts/*/*/*
!SampleScripts/*/*/*/*
!SampleScripts/*/*/*/*/*
!data/
!data/config.txt
!data/keyfile.txt
!data/ref_load_data.txt
!archive/
!archive/*
!archive/*/*
!archive/*/*/*
!archive/*/*/*/*
!archive/*/*/*/*/*
!*.Rmd
!*.md
!raw_ks_gbs_demulti/
!raw_ks_gbs_demulti/*.txt


