# Ignore everything 
*

#except these
!.gitignore
!SampleScripts/
!SampleScripts/*
!SampleScripts/*/*
!SampleScripts/*/*/*
!SampleScripts/*/*/*/*
!SampleScripts/*/*/*/*/*
!data/
!data/*.txt
!data/fastq/
!data/fastq/*.txt

!archive/
!archive/*
!archive/*/*
!archive/*/*/*
!archive/*/*/*/*
!archive/*/*/*/*/*
!*.Rmd
!*.md
!raw_ks_gbs_demulti/
!raw_ks_gbs_demulti/*.txt


